/* Основний колір тексту #212121 */
/* Додатковий крлір тексту #757575 */
/* Колір фону #FFFFFF */
/* Додатковий колір фону #F5F4FA */
/* Колір футера #2F303A */
/* Колір наведення #2196F3 */
/* кольори лого #000000, #2196F3 */
/* Колір посилань футер rgba(255, 255, 255, 0.6); */

:root {
--text-color:#212121;
--additional-text-color: #757575;
--background-color: #ffffff;
--additional-background-color: #F5F4FA;
--footer-background-color: #2F303A;
--logo-color: #000000;
--activation-color: #2196F3;
--footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto';
    color: var(--text-color);
}